.nav-bar{
    border: 2px solid black;
    background-color: rgba(250,250,250,255);

}

.name{
    border: 2px solid black;
    min-width: 280px;
    width: 280px;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 5px;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-list{
    
    border: 2px solid black;
    margin: auto;
    max-width: 320px;
    font-weight: bolder;
    font-size: 15px;

    padding: 0px;
    
}
li{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    list-style: none;
}

.about-me{
    border: 2px solid black;
    min-width: 280px;
    width: 280px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(250,250,250,255);
}

.profile-pic-box{
    background-color: rgba(237,237,237,255);
}

.profile-pic{
    min-width: 280px;
    width: 280px;
    margin: auto;
}


main{
    margin: auto;
    margin-top: 100px;
}


.portfolio{
    border: 2px solid black;
    min-width: 280px;
    width: 280px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.box{
    border: 2px solid black;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    max-width: 680px;
}
img{
    max-width: 720px;

    width: 95%;
    min-width: 280px;
}

.contact-box{
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    max-width: 720px;
    font-size: 15px;
}
.contact{
    font: weight 1000px;
}

footer{
    min-width: 280px;
    border: 2px solid black;
}

footer::after{


    content: " ";
    display: table;
    clear: both;
}
footer h3{

    float: left;
}
footer a{

    display: block;

    float: right;
}